@import url("https://fonts.googleapis.com/css2?family=Bauhaus:wght@400;700&display=swap");

@font-face {
  font-family: "BauhausStd-Light";
  font-family: "Bauhaus";
  src: url("../assets/fonts/BauhausStd-Light.ttf") format("truetype");
  src: url("../assets/fonts/BauhausStd-Bold.ttf") format("truetype");
  font-weight: 300;
}
/* Navbar styles */
.navbar {
  background-color: transparent;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.logo {
  max-width: 13vw;
}

/* Hamburger menu for mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.bg {
  max-width: 13vw;
  opacity: 0.2;
}

.background {
  background-image: url("/src/assets/images/TopBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 10vh;
}

/* Navigation list */
.nav-list {
  list-style: none;
  display: flex;
  align-self: flex-start;
  margin-right: 16vw;
}

.nav-list.active {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
}
.background-icon {
  margin-top: 12%;
  width: 35%;
  /* top: -137px; */
  position: absolute;
  left: 0px;
}
.nav-item {
  color: white;
  margin-right: 5%;
  cursor: pointer;
  margin-top: 2px;
  position: relative;
  font-family: "BauhausStd-Light";
  white-space: nowrap;
  font-weight: lighter;
  font-size: 1.2vw;
}

.nav-item1 {
  align-items: right;
  margin-left: 40px;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
  position: relative;
  font-family: "Bauhaus";
  white-space: nowrap;
  font-weight: lighter;
}

/* Dropdown arrow */
.arrow {
  color: rgb(244, 240, 255);
  display: inline-block;
  transform: rotate(180deg);
  margin-left: 5px;
}

/* Dropdown container */
.dropdown-container {
  position: relative;
}

.nav-item.dropdown-container.active {
  font-family: "BauhausStd-Light";
  font-size: 1vw;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #001f7f;
  padding-top: 6px;
  padding-bottom: 17px;
  padding-left: 9px;
  padding-right: 9px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Industries Dropdown for Mobile */
@media (max-width: 768px) {
  .industries-dropdown {
    width: 90%; /* Reduce width for smaller screens */
    max-width: 400px; /* Limit the maximum width */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px; /* Adjust padding to be less on mobile */
    top: 60px; /* Position the dropdown closer to the navbar */
    font-size: 14px; /* Smaller font size for better fit */
  }

  .industries-content {
    flex-direction: column; /* Stack content vertically on smaller screens */
    justify-content: flex-start;
    padding: 10px 0; /* Adjust padding */
  }

  .industries-column {
    padding: 10px 0; /* Less padding for mobile */
    margin-bottom: 15px;
  }

  .industries-column h3 {
    font-size: 1.1rem; /* Adjust heading size */
  }

  .industries-column ul li {
    font-size: 1rem; /* Adjust list item font size */
    line-height: 1em;
  }

  .industries-button {
    font-size: 0.8em; /* Smaller font for the button */
    padding: 8px 12px; /* Adjust padding for the button */
  }
}

/* Further adjustments for very small devices (phones) */
@media (max-width: 480px) {
  .industries-dropdown {
    width: 95%; /* Take full width on very small screens */
    padding: 8px 10px; /* Reduce padding */
    max-width: 350px; /* Smaller max-width for small phones */
  }

  .industries-column h3 {
    font-size: 1em; /* Reduce font size for headings */
  }

  .industries-column ul li {
    font-size: 1em; /* Further reduce list item font size */
    line-height: 1.2;
  }

  .industries-button {
    font-size: 0.7em; /* Adjust button font size */
    padding: 6px 10px; /* Smaller padding for the button */
  }
}
.resources-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: end;
  align-items: center;
}

.resources-content {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  position: absolute;
  top: 60px;
  right: 21%;
  background: rgb(251, 251, 251);
  width: 514.277px;
  height: 256px;
  transform: scale(1.3786, 1.3786);
  transform-origin: 0px 0px;
}

.resources-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.resources-left {
  width: 33%;
}

.resources-left h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #022d62;
}

.resources-left p {
  font-size: 0.8rem;
  color: #022d62;
  font-family: "BauhausStd-Light";
}

.resources-right {
  width: 50%;
}

.resources-right h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #022d62;
  margin-bottom: 10px;
}

.resources-right ul {
  list-style: none;
  padding: 0;
  color: #022d62;
  font-family: "BauhausStd-Light";
}

.resources-right ul li {
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-family: "BauhausStd-Light";
  color: #022d62;
}

@media (max-width: 1024px) {
  .resources-content {
    width: 40%;
    margin-bottom: 20%;
  }
}

/* Adjust for mobile phones */
@media (max-width: 768px) {
  .resources-content {
    width: 50%;
    height: 30%;
    right: 25%;
    flex-direction: column; /* Stack the content vertically */
  }
  .resources-left h3 {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
  }
  .resources-left p {
    font-size: 1em;
    color: #555;
  }
  .resources-right {
    width: 50%;
  }
  .resources-right h3 {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .resources-right ul {
    font-size: 1em;
  }
  .resources-right ul li {
    margin-bottom: 5px;
  }
}

.nav-item .arrow.active {
  color: #022d62;
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  display: none;
  z-index: 100;
  min-width: 150px;
}

.dropdown-item {
  padding: 10px 20px;
  color: white;
  white-space: nowrap;
  transition: background-color 0.3s;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Industries Section */
.industries-dropdown {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.industries-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.industries-column {
  flex: 1;
  padding: 0 13px;
}

.industries-column h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Bauhaus";
  height: 20%;
}

.industries-column ul {
  list-style: none;
  padding: 0;
}

.industries-column ul li {
  margin-bottom: 8px;
  font-size: 1em;
  font-family: "BauhausStd-Light";
  color: #022d62;
}

.industries-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.industries-button {
  color: #022d62;
  font-size: 1.4em;
  font-family: "Bauhaus";
}

/* Hide navigation by default for mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 20px 5%;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.9
    ); /* Optional: Add background for mobile view */
    position: absolute;
    top: 60px; /* Adjust this based on your header height */
    left: 0;
    z-index: 99;
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }

  .nav-item {
    margin: 10px 0;
    font-size: 1em;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 15px;
  }

  .logo {
    max-width: 80px;
  }
}

/* Additional dropdown styles */
.Services-dropdown {
  position: absolute;
  top: 60%;
  left: 41%;
  max-width: 400px !important;
  transform: translateX(-50%);
  background-color: white;
  padding: 2vw;
  border-radius: 1vw;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  font-family: "BauhausStd-Light";
  color: #022d62;
}
.Services-dropdown ul li {
  margin-bottom: 8px;
  font-size: 1em;
  font-family: "BauhausStd-Light";
  color: #022d62;
}
.Product-dropdown {
  position: absolute;
  top: 60%;
  max-width: 400px;
  transform: translateX(-50%);
  background-color: white;
  padding: 1vw;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  font-family: "BauhausStd-Light";
}

.Product-dropdown ul li {
  margin-bottom: 10px;
  font-size: 1em;
  font-family: "BauhausStd-Light";
  color: #022d62;
}

@media (min-width: 1024px) {
  .Product-dropdown {
    width: 23%;
    left: 48%;
  }
}

@media (max-width: 767px) {
  .Product-dropdown p,
  .Services-dropdown p {
    font-size: 1em;
  }
}

/* Partner Section */
.popup-overlay {
  position: absolute;
  top: 60px;
  right: 28vw;
  width: 514px;
  height: 256px;
  transform: scale(1.3786, 1.3786);
  transform-origin: 0px 0px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-heading {
  font-family: "Bauhaus";
  font-size: 22px;
  font-weight: bold;
  color: #001f7f;
  margin-bottom: 15px;
}

.partner-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vw;
}

.partner-logos img {
  max-width: 200px;
  height: auto;
}

/* Responsive adjustments for mobile phones */
@media (max-width: 768px) {
  .popup-overlay {
    top: 50px;
    right: 5vw;
    width: 90%;
    padding: 15px;
  }

  .popup-heading {
    font-size: 18px;
  }

  .partner-logos {
    flex-direction: column;
  }

  .partner-logos img {
    max-width: 120px;
    margin-bottom: 10px;
  }
}

/* Responsive adjustments for very small devices (phones) */
@media (max-width: 480px) {
  .popup-overlay {
    top: 40px;
    width: 95%;
    padding: 10px;
  }

  .popup-heading {
    font-size: 16px;
  }

  .partner-logos img {
    max-width: 100px;
  }
}
.Industries-icon {
  width: 4vw;
}
